# Read Data

 
Business Data

In [2]:
val bizDF = spark.read.parquet("bdad_proj/business_data")
bizDF.show

In [3]:
bizDF.createOrReplaceTempView("biz_view")

Explode categories

In [5]:
// All Categories
bizDF.where($"is_open" === true).select($"business_id", explode($"categories").as("category")).createOrReplaceTempView("biz_cat_view")

Tip Data

In [7]:
val tipDF = spark.read.parquet("bdad_proj/tip_data")
tipDF.show

In [8]:
tipDF.createOrReplaceTempView("tip_view")

Checkin Data

In [10]:
val checkinDF = spark.read.parquet("bdad_proj/checkin_data")
checkinDF.show

In [11]:
checkinDF.createOrReplaceTempView("checkin_view")

User Data

In [13]:
val userDF = spark.read.parquet("bdad_proj/user_data")
userDF.show

In [14]:
userDF.createOrReplaceTempView("user_view")

Reviews Data

In [16]:
val revDF = spark.read.parquet("bdad_proj/review_data")
revDF.show

In [17]:
revDF.createOrReplaceTempView("rev_view")

Yelp Main Categories

In [19]:
val mainCatPath = "bdad_proj/yelp_main_categories"
val mainCatDF = Seq(
("Active Life"),
("Arts & Entertainment"),
("Automotive"),
("Beauty & Spas"),
("Education"),
("Event Planning & Services"),
("Financial Services"),
("Food"),
("Health & Medical"),
("Home Services"),
("Hotels & Travel"),
("Local Flavor"),
("Local Services"),
("Mass Media"),
("Nightlife"),
("Pets"),
("Professional Services"),
("Public Services & Government"),
("Real Estate"),
("Religious Organizations"),
("Restaurants"),
("Shopping")).toDF("main_cat")
mainCatDF.show
mainCatDF.write.mode("overwrite").parquet(mainCatPath)

In [20]:
mainCatDF.createOrReplaceTempView("main_cat_view")

In [21]:
// Main Categories
val bizMainCats = spark.sql("select biz_cat_view.* from biz_cat_view, main_cat_view where biz_cat_view.category = main_cat_view.main_cat")
bizMainCats.createOrReplaceTempView("biz_main_cats_view")

In [22]:
val cuisineTypePath = "bdad_proj/cuisine_type"
val cuisineTypeDF = 
Seq(("Afghan"),
    ("African"),
    ("American (New)"),
    ("American (Traditional)"),
    ("Arabian"),
    ("Argentine"),
    ("Armenian"),
    ("Asian Fusion"),
    ("Australian"),
    ("Austrian"),
    ("Bangladeshi"),
    ("Barbeque"),
    ("Basque"),
    ("Belgian"),
    ("Brasseries"),
    ("Brazilian"),
    ("Breakfast & Brunch"),
    ("British"),
    ("Buffets"),
    ("Bulgarian"),
    ("Burgers"),
    ("Burmese"),
    ("Cafes"),
    ("Themed Cafes"),
    ("Cafeteria"),
    ("Cajun/Creole"),
    ("Cambodian"),
    ("Caribbean"),
    ("Catalan"),
    ("Cheesesteaks"),
    ("Chicken Shop"),
    ("Chicken Wings"),
    ("Chinese"),
    ("Comfort Food"),
    ("Creperies"),
    ("Cuban"),
    ("Czech"),
    ("Delis"),
    ("Diners"),
    ("Dinner Theater"),
    ("Eritrean"),
    ("Ethiopian"),
    ("Fast Food"),
    ("Filipino"),
    ("Fish & Chips"),
    ("Fondue"),
    ("Food Court"),
    ("Food Stands"),
    ("French"),
    ("Game Meat"),
    ("Gastropubs"),
    ("Georgian"),
    ("German"),
    ("Gluten-Free"),
    ("Greek"),
    ("Guamanian"),
    ("Halal"),
    ("Hawaiian"),
    ("Himalayan/Nepalese"),
    ("Honduran"),
    ("Hong Kong Style Cafe"),
    ("Hot Dogs"),
    ("Hot Pot"),
    ("Hungarian"),
    ("Iberian"),
    ("Indian"),
    ("Indonesian"),
    ("Irish"),
    ("Italian"),
    ("Japanese"),
    ("Kebab"),
    ("Korean"),
    ("Kosher"),
    ("Laotian"),
    ("Latin American"),
    ("Live/Raw Food"),
    ("Malaysian"),
    ("Mediterranean"),
    ("Mexican"),
    ("Middle Eastern"),
    ("Modern European"),
    ("Mongolian"),
    ("Moroccan"),
    ("New Mexican Cuisine"),
    ("Nicaraguan"),
    ("Noodles"),
    ("Pakistani"),
    ("Pan Asia"),
    ("Persian/Iranian"),
    ("Peruvian"),
    ("Pizza"),
    ("Polish"),
    ("Polynesian"),
    ("Pop-Up Restaurants"),
    ("Portuguese"),
    ("Poutineries"),
    ("Russian"),
    ("Salad"),
    ("Sandwiches"),
    ("Scandinavian"),
    ("Scottish"),
    ("Seafood"),
    ("Singaporean"),
    ("Slovakian"),
    ("Somali"),
    ("Soul Food"),
    ("Soup"),
    ("Southern"),
    ("Spanish"),
    ("Sri Lankan"),
    ("Steakhouses"),
    ("Supper Clubs"),
    ("Sushi Bars"),
    ("Syrian"),
    ("Taiwanese"),
    ("Tapas Bars"),
    ("Tapas/Small Plates"),
    ("Tex-Mex"),
    ("Thai"),
    ("Turkish"),
    ("Ukrainian"),
    ("Uzbek"),
    ("Vegan"),
    ("Vegetarian"),
    ("Vietnamese"),
    ("Waffles"),
    ("Wraps")).toDF("type")
cuisineTypeDF.show
cuisineTypeDF.write.mode("overwrite").parquet(cuisineTypePath)

Fortune 500 in the US

In [24]:
spark.sql("SELECT name, business_id FROM biz_view WHERE name LIKE 'Walmart'").show

Positive Words
Negative Words

In [26]:
val posWordsDF = spark.read.text("bdad_proj/positive-words.txt").toDF("word")
val negWordsDF = spark.read.text("bdad_proj/negative-words.txt").toDF("word")

In [27]:
posWordsDF.createOrReplaceTempView("pos_word_view")
negWordsDF.createOrReplaceTempView("neg_word_view")

Useful Words

In [29]:

val posUselessWord = Seq("liked", "top", "a+","great","amazing","love","best","awesome","excellent","good","favorite","loved","perfect","gem","perfectly","wonderful","happy","enjoyed","nice","well","super","like","better","decent","fine","pretty","enough","excite","impressed","ready","fantastic","glad","right","fabulous","fun","work","recommended","incredible","outstanding","pleasant").toDF("word")
val negUselessWord = Seq("bad","disappointed","unfortunately","disappointing","horrible","lacking","terrible","sorry","worse","waste","problem","mediocre","awful","wrong", "worst","sad", "hate","upset","shame","complain","excuse","sucks","joke","negative","fault").toDF("word")
posUselessWord.createOrReplaceTempView("pos_useless_view")
negUselessWord.createOrReplaceTempView("neg_useless_view")
spark.sql("SELECT word FROM pos_word_view EXCEPT SELECT word FROM pos_useless_view").createOrReplaceTempView("useful_pos_word_view")
spark.sql("SELECT word FROM neg_word_view EXCEPT SELECT word FROM neg_useless_view").createOrReplaceTempView("useful_neg_word_view")

In [30]:
val resultDir = "bdad_proj/results"

# Analytics

## 1. Distribution of consumption types in different state

Top 10 main categories per state

In [34]:
val catSql = """
             |SELECT state, main_cat, count(business_id) AS cats_count
             |FROM biz_view, main_cat_view
             |WHERE array_contains(biz_view.categories, main_cat)
             |GROUP BY state, main_cat
             |ORDER BY cats_count DESC
             """
spark.sql(catSql).createOrReplaceTempView("cat_rev_cnt_view")
val catByStateSql = """
                    |SELECT state, main_cat, cats_count, rank() over(partition by state order by cats_count desc) as rank
                    |FROM cat_rev_cnt_view
                    """
val catsCntsPerStateDF = spark.sql(catByStateSql).where($"rank" <= 10)
catsCntsPerStateDF.show

Save all categories counts

In [36]:
val catPerStateCSVPath = f"$resultDir/cats_cnts_per_state"
rankDF.write.mode("overwrite").csv(catPerStateCSVPath)

In [37]:
rankDF.createOrReplaceTempView("ranking")
val top10Sql = "select state, category, count, rank from ranking where rank <= 10" 
val top10DF = spark.sql(top10Sql)
top10DF.show

Save result

In [39]:
val top10CatPerStateCSVPath = "bdad_proj/results/top10_cats_per_state"
top10DF.write.mode("overwrite").csv(top10CatPerStateCSVPath)

## 2. Avg stars in terms of month

In [41]:
val avgStarPerMonthFD = revDF.select($"date", $"stars").groupBy(month($"date").as("m")).avg("stars").sort($"m")
avgStarPerMonthFD.show

In [42]:
val avgStarPerMonthCSVPath = f"$resultDir/avg_stars_per_month"
avgStarPerMonthFD.write.mode("overwrite").csv(avgStarPerMonthCSVPath)

## 3. Most Popular Categories

In [44]:
revDF.select($"business_id", $"stars").createOrReplaceTempView("biz_stars_view")
mainCatDF.createOrReplaceTempView("main_cat_view")

In [45]:
val bizStarCatSql = """
                    |SELECT
                    |biz_cat_view.business_id, biz_stars_view.stars, main_cat_view.main_cat
                    |FROM biz_cat_view, biz_stars_view, main_cat_view
                    |WHERE main_cat_view.main_cat = biz_cat_view.category
                    |AND biz_cat_view.business_id = biz_stars_view.business_id
                    """
var catRevCnt = spark.sql(bizStarCatSql).groupBy($"main_cat").count.sort($"count".desc)
catRevCnt = bizRevCnt.cache()
catRevCnt.show(false)

Save Result

In [47]:
catRevCnt.write.mode("overwrite").csv(f"$resultDir/top_cat_rev_cnt")

## 4. Most visited restaurants
Order By `Merchant Review Count / Total Review Count in that State`

In [49]:
bizDF.createOrReplaceTempView("biz_view")
val revCntByStateSql = """
                       |SELECT sum(review_count) as rev_cnt, state
                       |FROM biz_view
                       |WHERE array_contains(categories, 'Restaurants')
                       |GROUP BY state
                       """
val revCntByState = spark.sql(revCntByStateSql)
revCntByState.createOrReplaceTempView("rev_cnt_by_state")

val restaurantsSql = """
           |SELECT name, business_id, address, city, biz_view.state, review_count, review_count/rev_cnt_by_state.rev_cnt as rev_ratio
           |FROM biz_view, rev_cnt_by_state
           |WHERE biz_view.state=rev_cnt_by_state.state
           |AND rev_cnt_by_state.rev_cnt > 100
           |ORDER BY rev_ratio DESC
           |LIMIT 10
           """
val restaurantsDF = spark.sql(restaurantsSql)
restaurantsDF.show
restaurantsDF.write.mode("overwrite").csv(f"$resultDir/most_visited_restaurants")

Order By Absolute Review Count

In [51]:
val restaurantsAbsSql = """
           |SELECT name, business_id, address, city, state, review_count
           |FROM biz_view
           |WHERE array_contains(categories, 'Restaurants')
           |ORDER BY review_count DESC
           |LIMIT 10
           """
val restaurantsAbsDF = spark.sql(restaurantsAbsSql)
restaurantsAbsDF.show
restaurantsAbsDF.write.mode("overwrite").csv(f"$resultDir/most_visited_restaurants_abs")

## 5. Top 10 Cuisine Type

In [53]:
cuisineTypeDF.createOrReplaceTempView("cuisine_type_view")
val explodedBizFD = spark.sql("SELECT *, explode(categories) as category FROM biz_view")
explodedBizFD.createOrReplaceTempView("exploded_biz_view")
val top10CuisineTypeSql = """
                          |SELECT type, sum(review_count) as rev_cnt
                          |FROM exploded_biz_view, cuisine_type_view
                          |WHERE category=type
                          |GROUP BY type
                          |ORDER BY rev_cnt DESC
                          |LIMIT 10
                          """
val top10CuisineTypeDF = spark.sql(top10CuisineTypeSql)
top10CuisineTypeDF.write.mode("overwrite").csv(f"$resultDir/top10_cuisine_type")

In [54]:
top10CuisineTypeDF.show

## 6. Big Company Rate Distribution in Yelp Dataset
1. Walmart
2. Target
3. AT&T
4. McDonald's
5. Costco Wholesale

In [56]:
val names = Array("Walmart", "Target", "AT&T", "McDonald's", "Costco Wholesale")
def analytics6(name: String) = {
    val sql = f"select state, avg(stars) from biz_view where name='$name' group by state"
    val df = spark.sql(sql)
    df.show
}

analytics6("AT&T")

## 7. Top 10 Cities with the Most Business Parties in Yelp Dataset

In [58]:
spark.sql("SELECT city, count(business_id) AS biz_cnt FROM biz_view GROUP BY city ORDER BY biz_cnt DESC LIMIT 10")
        .write.mode("overwrite").csv(f"$resultDir/top10_cities_the_most_merchants")

## 8. Business with most Five Star Reviews from Users

In [60]:
val sql = """
          |SELECT biz_view.business_id, name, count(rev_view.review_id) AS five_cnt
          |FROM biz_view, rev_view
          |WHERE biz_view.business_id=rev_view.business_id
          |AND rev_view.stars = 5.0
          |GROUP BY biz_view.business_id, name
          |ORDER BY five_cnt DESC
          |LIMIT 10
          """
val top10FiveStarBus = spark.sql(sql)
top10FiveStarBus.write.mode("overwrite").csv(f"$resultDir/top10_five_star_bus")

In [61]:
top10FiveStarBus.show(false)

## 9. Geographical distribution of businesses

In [63]:
val geoBizDistDF = spark.sql("select business_id, stars, state, city, longitude, latitude from biz_view")
geoBizDistDF.write.mode("overwrite").csv(f"$resultDir/geo_biz_dist")

## 10. Top 10 cities and states with most reviews

In [65]:
val top10RevState = spark.sql(
    """
    |SELECT state, rev_cnt
    |FROM (SELECT COUNT(rev_view.review_id) as rev_cnt, state FROM rev_view, biz_view WHERE rev_view.business_id = biz_view.business_id GROUP BY state) t1
    |ORDER BY rev_cnt DESC
    |LIMIT 10
    """
)
top10RevState.write.mode("overwrite").csv(f"$resultDir/top10_rev_state")

In [66]:
val top10RevCity = spark.sql(
    """
    |SELECT city, rev_cnt
    |FROM (SELECT COUNT(rev_view.review_id) as rev_cnt, city FROM rev_view, biz_view WHERE rev_view.business_id = biz_view.business_id GROUP BY city) t1
    |ORDER BY rev_cnt DESC
    |LIMIT 10
    """
)
top10RevCity.write.mode("overwrite").csv(f"$resultDir/top10_rev_city")

## 11. Checkins variation across time in different categories
1. Restaurants 
2. Shopping 
3. Nightlife 
4. Arts & Entertainment
5. Food

In [68]:
val sql1 = """
          |SELECT business_id, hour(ts) as hour, weekday(ts) as weekday
          |FROM checkin_view
          """
spark.sql(sql1).createOrReplaceTempView("checkin_weeekday_view")

def analytics11(cat: String) = {
    val output = f"$resultDir/checkin_time_dist/${cat.filterNot(_.isWhitespace).toLowerCase()}_weekdays_checkins_distribution"
    val weekday2str = (weekday: Int) => weekday match {
      case 0 => "Sun"
      case 1 => "Mon"
      case 2 => "Tue"
      case 3 => "Wed"
      case 4 => "Thu"
      case 5 => "Fri"
      case 6 => "Sat"
    }
    val sql2 = f"""
          |SELECT hour, weekday, weekday2str(weekday) as weekdayStr, count(weekday) as cnt, rank() over (partition by weekday order by hour)
          |FROM checkin_weeekday_view, biz_view
          |WHERE biz_view.business_id=checkin_weeekday_view.business_id AND array_contains(biz_view.categories, "$cat")
          |GROUP BY weekday, hour
          """
    spark.udf.register("weekday2str", weekday2str)
    spark.sql(sql2).na.drop.write.mode("overwrite").csv(output)
}

val cats = Array("Restaurants", "Shopping", "Nightlife", "Arts & Entertainment", "Food")
for (cat <- cats) {
    analytics11(cat)
}

In [69]:
def analytics11_1(cat: String) = {
    val output = f"$resultDir/checkin_time_dist/${cat.filterNot(_.isWhitespace).toLowerCase()}_checkins_distribution"
    val sql = f"""
          |SELECT hour, count(hour) as cnt
          |FROM checkin_weeekday_view, biz_view
          |WHERE biz_view.business_id=checkin_weeekday_view.business_id AND array_contains(biz_view.categories, "${cat}")
          |GROUP BY hour
          """
    print(sql)
    spark.sql(sql).na.drop.write.mode("overwrite").csv(output)
}
val cats = Array("Restaurants", "Shopping", "Nightlife", "Arts & Entertainment", "Food")
for (cat <- cats) {
    analytics11_1(cat)
}

## 12. Reasons for positive and negative reviews in different categories
1. Restaurants 
2. Shopping 
3. Nightlife 
4. Arts & Entertainment
5. Food

In [71]:
def analyticsFor12n13(resultDir: String, cat: String, desc: String) = {
    val posOutputPath = f"${resultDir}/rev_pos_word_freq/${desc}_rev_pos_word_freq"
    val negOutputPath = f"${resultDir}/rev_neg_word_freq/${desc}_rev_neg_word_freq"

    val catRevSql = f"""
                 |SELECT explode(words) as word, rev_view.stars
                 |FROM rev_view, biz_view
                 |WHERE rev_view.business_id=biz_view.business_id
                 |AND array_contains(biz_view.categories, '$cat')
                 """
    val catRevDF = spark.sql(catRevSql)
    catRevDF.show
    catRevDF.createOrReplaceTempView("cat_rev_view")
    
    // classify reviews based on stars
    val revPos = catRevDF.where($"stars" >= 4.0)
    val revNeu = catRevDF.where($"stars" >= 3.0 && $"stars" < 4.0)
    val revNeg = catRevDF.where($"stars" < 3.0)
    
    revPos.createOrReplaceTempView("rev_pos_view")
    revNeu.createOrReplaceTempView("rev_neu_view")
    revNeg.createOrReplaceTempView("rev_neg_view")
    
    // positive 
    val posWordFreqSql = """
                     |SELECT rev_pos_view.word, count(rev_pos_view.word) as freq
                     |FROM rev_pos_view, useful_pos_word_view
                     |WHERE useful_pos_word_view.word=rev_pos_view.word
                     |GROUP BY rev_pos_view.word
                     |ORDER BY freq DESC
                     """
    val revPosWordFreq = spark.sql(posWordFreqSql)
    revPosWordFreq.show(50)
    revPosWordFreq.limit(50).write.mode("overwrite").csv(posOutputPath)
    
    // negative
    val negWordFreqSql = """
                     |SELECT rev_neg_view.word, count(rev_neg_view.word) as freq
                     |FROM rev_neg_view, useful_neg_word_view
                     |WHERE useful_neg_word_view.word=rev_neg_view.word
                     |GROUP BY rev_neg_view.word
                     |ORDER BY freq DESC
                     """
    val revNegWordFreq = spark.sql(negWordFreqSql)
    revNegWordFreq.show(50)
    revNegWordFreq.limit(50).write.mode("overwrite").csv(negOutputPath)
}

In [72]:
val cuisines = Array(("Restaurants", "restaurants"), ("Shopping", "shopping"), ("Nightlife", "nightlife"), ("Arts & Entertainment", "ane"), ("Food", "food"))
for (item <- cuisines) {
    analyticsFor12n13(resultDir, item._1, item._2)
}

## 13. Reasons for positive and negative reviews in different cuisine type
1. Pizza 
2. Burgers 
3. Seafood
4. Chinese
5. Indian

### Steps
1. classify reviews based on stars
2. split into words
3. word frequency ranking
4. find top 10 reasons for each type

>Positive Words
>https://gist.github.com/mkulakowski2/4289437
>Negative Words
>https://gist.github.com/mkulakowski2/4289441

In [74]:
val cuisines = Array(("Pizza", "pizza"), ("Italian", "italian"), ("Seafood", "seafood"), ("Mexican", "mexican"), ("Burgers", "burgers"),("Chinese", "chinese"), ("Indian", "indian"))
for (item <- cuisines) {
    analyticsFor12n13(resultDir, item._1, item._2)
}

## 14. Relation between number of fans and review count

In [76]:
userDF.stat.corr("review_count", "fans")

Type are positively correlated

## 15. Predict how many stars a certain user would give

### Steps
1. see how many reviews a person has given
2. using linear regression to produce the prediction model

In [79]:

val userStarsSql = """
                   |SELECT user_view.user_id, stars, category, fans, review_count, user_view.useful, user_view.funny, user_view.cool, average_stars
                   |FROM user_view, rev_view, biz_cat_view 
                   |WHERE user_view.user_id=rev_view.user_id 
                   |AND biz_cat_view.business_id=rev_view.business_id
                   """
val userStarsDF = spark.sql(userStarsSql)
userStarsDF.show

In [80]:
val Array(trainDF, testDF) = userStarsDF.randomSplit(Array(.8, .2), seed=23)
trainDF.write.mode("overwrite").parquet("bdad_proj/user_star_ml/user_star_train")
testDF.write.mode("overwrite").parquet("bdad_proj/user_star_ml/user_star_test")

In [81]:
import org.apache.spark.ml.feature.{OneHotEncoder, StringIndexer}
import scala.collection.mutable.ArrayBuffer
import org.apache.spark.ml.feature.VectorAssembler

val categoricalCols = trainDF.dtypes.filter(_._2 == "StringType").map(_._1)
var indexOutputCols = ArrayBuffer[String]()
var oheOutputCols = ArrayBuffer[String]()
val stringIndexer = categoricalCols.map(colName => {
    indexOutputCols += (colName+"I")
    new StringIndexer()
        .setInputCol(colName)
        .setOutputCol(colName+"I")
        .setHandleInvalid("skip")
})
  
val oheEncoder = categoricalCols.map(colName => {
    indexOutputCols += (colName+"O")
    new OneHotEncoder()
        .setInputCol(colName)
        .setOutputCol(colName+"O")
})
val numericCols = trainDF.dtypes.filter{ case (field, dataType) =>
  dataType == "DoubleType" || dataType == "LongType"}.map(_._1)
val assemblerInputs = (oheOutputCols ++ numericCols).toArray
val vecAssembler = new VectorAssembler()
                    .setInputCols(assemblerInputs)
                    .setOutputCol("features")
val vecTrainDF = vecAssembler.transform(trainDF)

In [82]:
vecTrainDF.show

Linear Regression

In [84]:
import org.apache.spark.ml.regression.LinearRegression
val lr = new LinearRegression()
    .setFeaturesCol("features")
    .setLabelCol("stars")
val userStarCategoryModel = lr.fit(vecTrainDF)

In [85]:
userStarCategoryModel.save(f"$resultDir/model/userStarCategoryModel")

Using Pipeline

In [87]:
import org.apache.spark.ml.Pipeline
val pipeline = new Pipeline().setStages(Array(vecAssembler, lr))
val pipelineModel = pipeline.fit(trainDF)

In [88]:
pipelineModel.save(f"$resultDir/model/userStarCategoryPipelineModel")

Predict stars rating by users with test dataset

In [90]:
val predDF = pipelineModel.transform(testDF)

In [91]:
predDF.show

## 16. Average length of words in each category

Restaurants
Shopping
Nightlife
Arts & Entertainment
Food


1. Pizza 
2. Burgers 
3. Seafood
4. Chinese
5. Indian

In [93]:
def analyticsFor16(resultDir: String, cat: String) = {
    val posOutputPath = f"${resultDir}/rev_pos_words_avg_len/${cat.filterNot(_.isWhitespace).toLowerCase()}_rev_pos_words_len"
    val negOutputPath = f"${resultDir}/rev_neg_words_avg_len/${cat.filterNot(_.isWhitespace).toLowerCase()}_rev_neg_words_len"

    println(posOutputPath)
    println(negOutputPath)
    
    val catRevSql = f"""
                 |SELECT length(text) as review_len, rev_view.stars
                 |FROM rev_view, biz_view
                 |WHERE rev_view.business_id=biz_view.business_id
                 |AND array_contains(biz_view.categories, '$cat')
                 """
    val catRevDF = spark.sql(catRevSql)
    catRevDF.show
    catRevDF.createOrReplaceTempView("cat_rev_wl_view")
    
    // classify reviews based on stars
    val revPos = catRevDF.where($"stars" >= 4.0)
    val revNeu = catRevDF.where($"stars" >= 3.0 && $"stars" < 4.0)
    val revNeg = catRevDF.where($"stars" < 3.0)
    
    revPos.createOrReplaceTempView("rev_pos_wl_view")
    revNeu.createOrReplaceTempView("rev_neu_wl_view")
    revNeg.createOrReplaceTempView("rev_neg_wl_view")
    
    val posWlSql = """
                   |SELECT avg(review_len)
                   |FROM rev_pos_wl_view
                   """
    spark.sql(posWlSql).write.mode("overwrite").csv(posOutputPath)
    
    val negWlSql = """
                   |SELECT avg(review_len)
                   |FROM rev_neg_wl_view
                   """
    spark.sql(negWlSql).write.mode("overwrite").csv(negOutputPath)
}

In [94]:
val cats = Array[String]("Restaurants", "Shopping", "Nightlife", "Arts & Entertainment", "Food")
for (cat <- cats) {
    analyticsFor16(resultDir, cat)
}

In [95]:
val cats = Array[String]("Pizza","Burgers","Seafood","Chinese","Indian")
for (cat <- cats) {
    analyticsFor16(resultDir, cat)
}

## 17. Distribution of positive and negative reviews in each category

In [97]:
val posRev = spark.sql("select * from rev_view where stars >= 4.0")
posRev.createOrReplaceTempView("pos_rev_view")

val sql = """
          |SELECT t1.category, pos_cnt/cnt*100 as percentage
          |FROM
          |(SELECT category, COUNT(pos_rev_view.review_id) as pos_cnt
          |FROM pos_rev_view, biz_main_cats_view 
          |WHERE biz_main_cats_view.business_id=pos_rev_view.business_id
          |GROUP BY biz_main_cats_view.category) t1,
          |(SELECT category, COUNT(rev_view.review_id) as cnt
          |FROM rev_view, biz_main_cats_view 
          |WHERE biz_main_cats_view.business_id=rev_view.business_id 
          |GROUP BY biz_main_cats_view.category) t2
          |WHERE t1.category=t2.category
          |GROUP BY t1.category, pos_cnt, cnt
          """
val posRevPerDF = spark.sql(sql)
posRevPerDF.write.mode("overwrite").csv(f"$resultDir/ana_17/pos_rev_percentage")

In [98]:
val sql = """
          |SELECT category, avg(stars) as avg_stars
          |FROM rev_view, biz_main_cats_view
          |WHERE biz_main_cats_view.business_id=rev_view.business_id
          |GROUP BY biz_main_cats_view.category
          """
val avgRevPerCatDF = spark.sql(sql)
avgRevPerCatDF.write.mode("overwrite").csv(f"$resultDir/ana_17/avg_rev_percentage_cat")